<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808424067899-i9h64cektcigatohd02bg5hjg8mrdt82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808424067899-i9h64cektcigatohd02bg5hjg8mrdt82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808424067899-k8h5tg2rroov2srnmmo214uci1v28lml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-oOIWy_ZznXjeXQGZ7ByT4mOHGyeqgC4</string>
	<key>GCM_SENDER_ID</key>
	<string>808424067899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flappyBird</string>
	<key>PROJECT_ID</key>
	<string>bookverse-8ac90</string>
	<key>STORAGE_BUCKET</key>
	<string>bookverse-8ac90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808424067899:ios:a099213ab38bb90e079d1e</string>
</dict>
</plist>